body {
    background-color: aqua;
}
p {
    color: blue;
    font-size: 24px;
    font-style: italic;
    text-decoration: underline;
}
.logo{
    width: 233px;
}

hr {
    width: 50%;
    size: 20px;
    background-color: blueviolet;
}